<h1><%= @vehicle.car_model %></h1>

<section>
  <p>Ano: <%= @vehicle.year %></p>
  <p>Carga máxima: <%= @vehicle.full_load %></p>
  <p>Placa: <%= @vehicle.license_plate %></p>
  <p>Marca: <%= @vehicle.vehicle_brand %></p>
</section>