<h1>Consultar preços</h1>

<%= form_with url: admin_prices_path, method: :get do |form| %>
  <fieldset>
    <%= form.label :heigth, 'Altura' %>
    <%= form.number_field :heigth %>
  </fieldset>

  <fieldset>
    <%= form.label :depth, 'Profundidade' %>
    <%= form.number_field :depth %>
  </fieldset>

  <fieldset>
    <%= form.label :width, 'Largura' %>
    <%= form.number_field :width %>
  </fieldset>

  <fieldset>
    <%= form.label :weight, 'Peso' %>
    <%= form.number_field :weight %>
  </fieldset>

  <fieldset>
    <%= form.label :distance, 'Distancia' %>
    <%= form.number_field :distance %>
  </fieldset>

  <%= form.submit 'CONSULTAR' %>
<% end %>

 
<% if @prices.empty? %>
  <strong>Nenhuma transportadora ativa</strong>
<% else %>
  <% if params[:heigth].present? && params[:depth].present? && params[:width].present? && params[:distance].present? && params[:weight].present? %>
    <% @prices.each do |price| %>
      <% hauler = price.hauler %>
      <% if @cubic_meter >= price.min_cubic_meter && @cubic_meter <= price.max_cubic_meter && @weight >= price.min_weight && @weight <= price.max_weight && @distance >= hauler.delivery_dates.map {|d| d.distance_1 }.slice(0) && @distance <= hauler.delivery_dates.map {|d| d.distance_2 }.slice(0) %>
        <hr>
        <section>
          <strong>Transportadora: <%= price.hauler.brand_name %></strong>
          <p>Volume do pacote: <%= @cubic_meter %>m³</p>
          <p>Distância: <%= @distance %>kms</p>
          <p>Valor total: <%= number_to_currency(price.km_price.to_f * @distance) %> reais</p>
          <p>Prazo: <%= hauler.delivery_dates.map {|d| d.days }.slice(0) %> <%= hauler.delivery_dates.map {|d| d.days }.slice(0) == 1 ? 'dia' : 'dias' %></p>

          <%= form_with url: '/admin/orders', data: { turbo_confirm: 'Confirmar?' }, method: :post do |f| %>
            <%= f.hidden_field :heigth %>
            <%= hidden_field_tag 'heigth', params[:heigth] %>

            <%= f.hidden_field :depth %>
            <%= hidden_field_tag 'depth', params[:depth] %>

            <%= f.hidden_field :width %>
            <%= hidden_field_tag 'width', params[:width] %>

            <%= f.hidden_field :distance %>
            <%= hidden_field_tag 'distance', params[:distance] %>

            <%= f.hidden_field :weight %>
            <%= hidden_field_tag 'weight', params[:weight] %>

            <%= f.hidden_field :hauler %>
            <%= hidden_field_tag 'hauler', price.hauler.id %>

            <%= f.hidden_field :price %>
            <%= hidden_field_tag 'price', price.km_price.to_f * @distance %>
        
            <%= f.hidden_field :days %>
            <%= hidden_field_tag 'days', price.hauler.delivery_dates.map {|p|p.days }.slice(0) %>      
          <%= f.submit "Registrar ordem de serviço #{price.hauler.brand_name}" %>
          <% end %>
        </section>
      <% else %>
        <p>Nenhuma transportadora capaz de transportar essa encomenda</p>
      <% end %>
    <% end %>
      <%= link_to 'Limpar', render: admin_prices_path %> 
  <% end %>
<% end %>