<h1>Ordem de serviço <%= @order.code %></h1>
<% if @order.accepted? %>
  <%= link_to 'Atualizar ordem de serviço', new_user_hauler_order_order_historic_path(@hauler, @order) %>
<% end %>

<hr>

<section>
  <h4>Transportadora: <%= @order.hauler.brand_name %></h4>
  <h4>Volume do pacote: <%= @order.cubic_meter %>m³</h4>
  <h4>Endereço: <%= @order.address %></h4>
  <h4>Distância: <%= @order.distance %>kms</h4>
  <h4>Peso: <%= @order.weight %><%= @order.weight == 1 ? 'kg' : 'kgs' %></h4>
  <h4>Prazo de entrega: <%= @order.days %> <%= @order.days.to_i == 1 ? 'dia' : 'dias' %></h4>
  <h4>Valor total: <%= number_to_currency(@order.price) %></h4>
  <h4>Status: <%= Order.human_attribute_name(@order.status) %></h4>
  <% if @order.vehicle_id == nil %>
    <%= form_with url: [:user, @hauler, @order], data: { turbo_confirm: 'Confirmar?' }, method: :patch do |f| %>
      <h4>
        <%= f.label :vehicle, 'Veículo' %>
        <%= f.collection_select :vehicle, @vehicles, :id, :car_model %><br>

        <%= f.submit 'Aceitar ordem de serviço', name: 'accept' %>
        <%= f.submit 'Recusar ordem de serviço', name: 'refuse' %>
      </h4>
    <% end %>
  <% else %>
    <% vehicle = Vehicle.find(@order.vehicle_id) %>
    <h4>Veículo: <%= vehicle.car_model %></h4>
  <% end %>
</section>

<% if @order.accepted? %>
    <hr>
  <section class="mt-5">
    <h3>Rastreamento detalhado</h3>
    <% @order_historics.each do |historic| %>
      <h3><%= historic.address %><h3>
      <h3><%= I18n.localize(historic.created_at, format: :long) %></h3>
    <% end %>
  <section>
<% end %>