
<search>
  <%= form_tag root_path, method: :get, class: "input-group mt-5 mb-5" do %> 
    <%= search_field_tag :search, nil, placeholder: 'Código da ordem', class: "form-control rounded" %> 
    <%= submit_tag 'Rastrear Ordem', class: "btn btn-outline-primary" %> 
  <% end %>
</search>

<% if params[:search].present? %>
  <% if @order.present? %>
    <% if @order_historics.present? %>
      <h4>Ordem de serviço - <%= @order.code %><br></h4>
      <h4>Responsável pela entrega - <%= @order.hauler.brand_name %></h4>
      <h4>Veículo - <%= @vehicle.car_model %></h4>
      <% @order_historics.each do |historic| %>
        <%= historic.address %>
        <%= I18n.localize(historic.created_at, format: :long) %><br>
      <% end %>
    <% else %>
      <h4>Ordem de serviço <%= @order.code %> sem atualização</h4>
    <% end %>
  <% else %>
    <h4>Ordem de serviço não encontrada ou não aceita.</h4>
  <% end %>
<% end %>