
<search>
  <%= form_tag root_path, method: :get, class: "input-group mt-5 mb-5" do %> 
    <%= search_field_tag :search, nil, placeholder: 'Código da ordem', class: "form-control rounded" %> 
    <%= submit_tag 'Rastrear Ordem', class: "btn btn-outline-primary" %> 
  <% end %>
</search>

<% if params[:search].present? %>

  <% if @order.present? %>
    <% if @order_historics.present? %>
      <% @order_historics.each do |historic| %>
        Ordem <%= @order.code %><br>
        <%= historic.address %>
        <%= I18n.localize(historic.created_at, format: :long) %>
      <% end %>
    <% else %>
      <p>Ordem de serviço <%= @order.code %> sem atualização</p>
    <% end %>
  <% else %>
    <p>Ordem de serviço não encontrada</p>
  <% end %>
<% end %>