<!DOCTYPE html>
<html>
  <head>
    <title>Delivery </> app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container text-center mt-3">
      <h1 class="display-3"><%= link_to 'Delivery </> app', root_path %></h1>
      <nav>
        <% if user_signed_in? %>
          <%= link_to 'Home', user_hauler_path(current_user) %> |
          <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete} %>
          <span>Olá, <%= current_user.name %></span>
        <% elsif admin_signed_in? %>
          <%= link_to 'Home', admin_delivery_app_path %> |
          <%= link_to 'Sair', destroy_admin_session_path, data: { turbo_method: :delete} %>
          <span>Olá, <%= current_admin.email %></span>
        <% else %>
          <span><%= link_to 'Entrar', new_user_session_path %> |</span>
          <span><%= link_to 'Admin?', new_admin_session_path %></span>
        <% end %>
      </nav>
    </header>

    <main class="container">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
